@font-face {
    font-family: Lemonada;
    src: url("../fonts/Lemonada/Lemonada-VariableFont_wght.ttf");
}

body
{
    font-family: "Lemonada", cursive;
    background-color: darkblue;
}

#servicesArticle
{
    text-align: center;
    margin: 10px;
}

.linkA
{
    width: 200px;
}

#homeArticle
{
    columns: 3;
    margin-left: 5%;
}

.image
{
    width: 200px;
    height: auto;
    margin: 50px;
}

.h1Header
{
    text-align: center;
}

article
{
    background-color: white;
}

#nav
{
    text-align: center;
    border: 1px solid black;
}

#wrapper
{
    min-width: 785px;
}

#wrapper > *, nav, footer, ul, li, a
{
    background-color: white;
}

.smallIconsImg
{
    width: 50px;
}

.navUl
{
    list-style: none;
    display: inline;
    padding: 3px;
    margin: 0px 2% 0px 2%;
    cursor: pointer;
    border: solid .5px black;
}

#ulContent > .navUL
{
    display: inline;
}

#logo
{
    width: 50px; height: auto;
}

footer
{
    font-size: .75em;
    padding: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}